.page-width {
  
    .announcement-bar {
      justify-content: flex-end;
      width: 93%;
      
      .announcement-bar__message {
        a {
          margin-right: 35px;
          text-decoration: none;
          color: white;
          font-weight: 400;
          text-transform: uppercase;
          
          &.cart-link {
            position: relative;
  
            &:before {
              content: '';
              background-image: url('../img/cart-icon.png');
              width: 20px;
              height: 20px;
              background-size: contain;
              display: inline-block;
              margin-right: 5px;
              position: absolute;
              left: -25px;
              top: 35%;
              transform: translateY(-50%);
            }
          }
        }
      }
    }
  }
  

  @media only screen and (min-width: 375px) and (max-width: 768px) {
    .page-width {
      .announcement-bar {
        width: 100%;
        justify-content: start;
        .announcement-bar__message{
          font-size: 10px;
          a{
            margin-right: 32px;
          }
        }
      }
    }
  }