.sooyq{
    ._1fragemk0{
        width: 100%;
       
        
        
        .ETRXz{
            width: unset;
            width: 100%;
            
           

        }
        

    }
    ._1fragemk2{
        width: 40%;
        display: flex;
        justify-content: center;

    }
}