div#app{

    .g9gqqf1{
        ._1fragemjt{
            .f1jux{
                .JPw09{
                   .k1Dlb{
                    ._1ip0g651{
                        ._1fragemir{
                            .n8k95w1{
                                background-color: black !important;;
                            }
                        }
                    }
                   }
                }
            }
        }
    }

    .sooyq{
        grid-area: unset;
        grid-template-areas: unset;
        grid-template-columns: unset;
        display: flex;
        justify-content: space-between;        
    }
}



.QT4by{
    background-color: black;
}
.content-for-layout{
    margin-top: 250px;
}