#app{

    .sooyq{
        grid-area: unset;
        grid-template-areas: unset;
        grid-template-columns: unset;
        display: flex;
        justify-content: space-between;        
    }
}



.QT4by{
    background-color: black;
}
.content-for-layout{
    margin-top: 250px;
}