.footer{
    background-color: $dark-color;
    
    .footer__blocks-wrapper{
        &>*{
            color: $white-color;
        }
        .footer-block{
            h2.footer-block__heading{
                color: $white-color;
                text-transform: uppercase;
            }
            .footer-block__details-content{
                color: hsla(0,0%,100%,.5);
                ul{
                    list-style: none;
                    text-decoration: none;
                    font-size: 12px;
                }
                a{
                    color: hsla(0,0%,100%,.5);
                    text-decoration: none;
                    font-size: 12px;
                }
            }

            
        }
        
    }

    .footer__payment{
        border: 1px solid rgb(181, 181, 181);
        padding: 20px;
    }
}

.footer-block:nth-child(-n+3) .list-social {
    display: none;
  }

  .footer-block__details-content{
    float: left;
  }



@media only screen and (min-width: 375px) and (max-width: 768px) {
    .footer-block__details-content{
        float: unset;
        p{
            margin-bottom: -25px;
        }
        
    }
  }