.footer{
    background-color: $dark-color;
    
    .footer__blocks-wrapper{
        &>*{
            color: $white-color;
        }
        .footer-block{
            h2.footer-block__heading{
                color: $white-color;
                text-transform: uppercase;
            }
            .footer-block__details-content{
                color: hsla(0,0%,100%,.5);
                ul{
                    list-style: none;
                    text-decoration: none;
                    font-size: 12px;
                }
                a{
                    color: hsla(0,0%,100%,.5);
                    text-decoration: none;
                    font-size: 12px;
                }
            }
        }
        
    }
}