#cart-container{
    width: 210px !important;
    background-color: transparent;
    
    margin-top: -140px;
    margin-left: 1130px;
    
    #cart-products{
        background-color: #fff;
        padding-left: 5px;
    }
    #checkout-button{
        padding-top: 10px;
        padding-bottom: 10px;

        width: 100%;
        margin-bottom: 20px;
        background-color: green;
        color: #fff;
        &:hover{
            background-color: $hover-button-color;
        }
    }
    #hide-cart-button{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: red;
        border: none;
        margin-top: -60px;
        cursor: pointer;
        transition: transform 0.3s ease;
        &:hover {
            transform: scale(1.2);
            font-weight: bold;
        }
    }
}

.header-wrapper{
    .header{
        .header__inline-menu{
            li{

            }
            .list-menu{
                li{
                    a{
                        color: black;
                    }
                }
            }
        }
    }
}

.header__active-menu-item{
    color: #fff;
}
summary.list-menu__item{
    color: white;
    font-family: $regular-font;
    font-weight: 700;
    text-transform: uppercase;
    &:hover, &:focus, &:active{
        color: white;
    }
}

.mega-menu__content{
    width: 20%;
  margin: auto;
}


@media only screen and (min-width: 375px) and (max-width: 768px) {
    .menu-drawer__menu{
        .menu-drawer__menu-item{
            color: $dark-color;
            font-weight: 400;
            text-transform: none;
        }
    }
    
}