@import "./variables";
@import "./home";
@import "./header";
@import "./footer";
@import "./cart";
@import "./checkout";
@import "./product-list";
@import "./product";




body{
    margin:0;
    font-family: $regular-font;
    font-weight: 400;
}

