@font-face {
  font-family: "Poppins-Regular";
  src: url("./Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins-Regular";
  src: url("./Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins-Regular";
  src: url("./Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
}
.utility-bar--bottom-border .utility-bar__grid {
  max-width: unset;
  width: 100%;
  background-color: #000;
  position: fixed;
  top: 0;
}
.utility-bar--bottom-border .utility-bar__grid .announcement-bar__message {
  color: #fff;
  font-weight: 700;
}
.header-wrapper {
  height: 120px;
  background-color: rgba(78, 61, 61, 0.5882352941);
  position: fixed;
  top: 38px;
}
.header-wrapper .header {
  margin-right: -10px;
}
.header-wrapper .header .header__inline-menu {
  margin-left: 150px;
}
.header-wrapper .header .header__inline-menu .list-menu li {
  margin-right: 70px;
}
.header-wrapper .header .header__inline-menu .list-menu li a {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
}
.header-wrapper .header .header__inline-menu .list-menu li a span {
  color: #fff;
  font-weight: 700;
}
.header-wrapper .header .header__icons {
  margin-right: 100px;
}
.header-wrapper .header .header__icons .modal__toggle-open {
  color: #fff;
  font-weight: 700;
}
.header-wrapper .header .header__icons .cart-icon-bubble {
  color: #fff;
  font-weight: 700;
}
.banner__box {
  max-width: unset;
  width: 500px;
  margin-right: -50px;
  margin-top: 120px;
}
.banner__box .banner__heading {
  color: #fff;
  letter-spacing: 0;
  line-height: 58px;
  font-size: 48px;
  font-weight: bolder;
}
.banner__box .banner__buttons {
  background: #b71726;
  cursor: pointer;
  padding: 30 150 30 150px;
}
.banner__box .banner__buttons .button--primary {
  text-transform: uppercase;
  color: #fff;
  font-weight: bolder;
}
.color-scheme-1 {
  width: 100%;
  justify-content: center;
}
.color-scheme-1 .box {
  width: 70%;
  margin-left: 15%;
  display: flex;
  justify-content: space-around;
}
.color-scheme-1 .box .box2 a {
  font-size: 50px;
}
.color-scheme-1 .box .box1, .color-scheme-1 .box .box2, .color-scheme-1 .box .box3, .color-scheme-1 .box .box4 {
  border: 1px solid #ccc;
  width: 250px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.color-scheme-1 .box .box1 a, .color-scheme-1 .box .box2 a, .color-scheme-1 .box .box3 a, .color-scheme-1 .box .box4 a {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  font-size: 32px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.color-scheme-1 .box .box1 a:hover, .color-scheme-1 .box .box2 a:hover, .color-scheme-1 .box .box3 a:hover, .color-scheme-1 .box .box4 a:hover {
  background-color: transparent !important;
}
.color-scheme-1 .box .box1::after, .color-scheme-1 .box .box2::after, .color-scheme-1 .box .box3::after, .color-scheme-1 .box .box4::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.color-scheme-1 .box .box1 {
  background: url("./bike02.jpg");
  background-size: cover;
  position: relative;
}
.color-scheme-1 .box .box2 {
  background: url("./bike03.jpg");
  background-size: cover;
  position: relative;
}
.color-scheme-1 .box .box3 {
  background: url("./bike04.jpg");
  background-size: cover;
  position: relative;
}
.color-scheme-1 .box .box4 {
  background: url("./bike05.jpg");
  background-size: cover;
  position: relative;
}
.animate--fade-in img {
  background-position: center;
  background-size: contain;
}
.collection-list-wrapper .title-wrapper-with-link {
  display: flex;
  justify-content: center;
}
.collection-list-wrapper .slider-mobile-gutter .collection-list .collection-list__item .card__content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.collection-list-wrapper .slider-mobile-gutter .collection-list .collection-list__item .card__content .cart__information {
  margin-top: -50px;
}
.collection-list-wrapper .slider-mobile-gutter .collection-list .collection-list__item .card__content .cart__information a {
  font-weight: 900;
}
.collection-list-wrapper .slider-mobile-gutter .collection-list .collection-list__item .card__content:hover {
  background-color: rgba(0, 0, 0, 0.699);
}
.collection-list-wrapper .slider-mobile-gutter .collection-list .collection-list__item .card__content:hover a {
  color: #fff;
}
.box-text1 {
  width: 100%;
  display: flex;
  justify-content: center;
}
.box-text1 .box1-1 {
  width: 50%;
}
.box-text1 .box1-1 h3 {
  font-size: 28px;
  color: black;
  font-weight: 800;
}
.box-text1 .box1-1 p {
  font-size: 16px;
  letter-spacing: 1px;
}
.box-text1 .box1-1 p a {
  text-decoration: none;
  color: #b71726;
}
.footer {
  background-color: #303030;
}
.footer .footer__blocks-wrapper > * {
  color: #fff;
}
.footer .footer__blocks-wrapper .footer-block h2.footer-block__heading {
  color: #fff;
  text-transform: uppercase;
}
.footer .footer__blocks-wrapper .footer-block .footer-block__details-content {
  color: hsla(0, 0%, 100%, 0.5);
}
.footer .footer__blocks-wrapper .footer-block .footer-block__details-content ul {
  list-style: none;
  text-decoration: none;
  font-size: 12px;
}
.footer .footer__blocks-wrapper .footer-block .footer-block__details-content a {
  color: hsla(0, 0%, 100%, 0.5);
  text-decoration: none;
  font-size: 12px;
}
.shopify-section .banner .banner__box {
  background-color: transparent;
}
.shopify-section .product-grid-container .collection .card-wrapper {
  padding-right: 20px;
}
.shopify-section .product-grid-container .collection .card-wrapper .card .card__information .card__heading {
  color: #150504 !important;
  margin-bottom: 2px;
  font-weight: 700;
}
.shopify-section .product-grid-container .collection .card-wrapper .card .card__information .price {
  color: #150504 !important;
  font-size: 12px !important;
  font-weight: 700;
}
.shopify-section .product-grid-container .collection .card-wrapper .card .quick-add .quick-add__submit {
  background-color: #303030;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
}
.shopify-section .product-grid-container .collection .card-wrapper .card .quick-add .quick-add__submit:hover {
  background-color: #00c77a;
  border: unset;
}
.shopify-section .facets .facets__form {
  display: unset;
}
.shopify-section .facets .facets__form .product-count {
  display: inline;
  float: left;
}
.shopify-section .facets .facets__form .product-count .product-count__text {
  color: rgba(21, 5, 4, 0.35) !important;
}
body {
  margin: 0;
  font-family: "Poppins-Regular";
  font-weight: 400;
}